* {
    font-family: 'Roboto Slab', serif;
}

.filter, .market {
    padding: 40px 40px 40px 40px;
}

.filter {
    width: 30%;
    float: left;
}

.market {
    width: 70%;
    float: right;
}

.filter h2 {
    margin-bottom: 20px;
}

.categories {
    margin-bottom: 20px;
}

.categories select {
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
}

.budget h3 {
    margin-bottom: 10px;
}

.budget input[type="text"] {
    width: 45%;
    font-size: 16px;
    padding: 3px 5px;
    margin-right: 10px;
}

.first-input {
   float: left;
}

.last-input {
    float: right;
}


.budget input[type="submit"] {
    padding: 5px 35px;
    margin-top: 20px;
    font-size: 16px;
    background: #08cefa;
    border: none;
    color: #fff;
    transition: all .2s;
}

.budget input[type="submit"]:hover {
    cursor: pointer;
    transition: all .2s;
    background: #333;
}

.budget input[type="text"]:active,
.budget input[type="text"]:focus,
.budget input[type="submit"]:active,
.budget input[type="submit"]:focus {
    outline: none;
}

.task {
    height: auto;
    padding: 30px;
    box-shadow: 0 0 15px -6px #000;
    margin-bottom: 20px;
    transition: all .2s;
    transform: translate(0, 0);
}

.task:hover {
    transition: all .2s;
    transform: translate(0, -3px);
}

.task .task-text { 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    margin: 15px 0; 
}

.task .price { 
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 35px; 
}

.task .toRespond {
    font-size: 15px;
    padding: 5px 30px;
    border: none;
    border-radius: 3px;
    background:#00d2ff;
    color: #fff;
    transition: all .2s;
}

.task .toRespond:hover {
    cursor: pointer;
    transition: all .2s;
    background: #333;
}

.publication-time {
    font-size: 14px;
    color: #90a4ae;
}

.publication-time .ital {
    font-style: italic;
}

.task-footer p { 
    margin-top: 10px;
    float: left; 
}

.task-footer button { float: right; }