* {
    font-family: 'Roboto Slab', serif;
}

.messages {
    padding: 40px;
}

.message {
    margin-bottom: 40px;
    text-align: center; 
}

.message a {
    border-bottom: 2px solid #eee;
    padding: 20px;
    text-decoration: none;
    color: #333;
    transition: all .2s;
}

.message a:hover {
    transition: all .2s;
    box-shadow: 0 0 25px -9px #333;
}

.name-ico {
    width: 10%;
    display: inline-block;
    margin-right: 70px;
}

.text-time {
    width: 80%;
    display: inline-block;
}

.name-ico .ico, 
.text-time .text {
    float: left;
}

.name-ico .name,
.text-time .time {
    float: right;
}

