aside.sidebar {
    width: 20%;
    height: auto;
   /* background: #fff;
    box-shadow: 0 0 25px -8px #000;*/
    float: left;
}


.nav li {
    list-style: none;
    border-bottom: 2px solid #fff;
    background: #333333;
    transition: all .2s;
    transform: translate(0, 0);
}

.nav li:hover {
    background: #424242;
}

.nav a {
    display: inline-block;
    width: 100%;
    padding: 25px 30px;
    text-decoration: none;
    transition: all .2s;
    color: #fff;
}

.nav a:hover {
    transition: all .2s;
    transform: translate(8px, 0);
    
}

.mainw {
    width: 78%;
    background: #fff;
    box-shadow: 0 0 25px -8px #000;
    border-radius: 6px;
    float: right;
}

.tit h1 {
    padding: 30px 40px;
    background: #333333;
    color: #fff;
    letter-spacing: 3px;
}