aside.sidebar {
    width: 23%;
    height: auto;
    background: #fff;
    box-shadow: 0 0 25px -8px #000;
    float: left;
    margin-right: 20px;
}


.nav li {
    list-style: none;
    padding: 25px 30px;
    border-bottom: 3px solid #eee;
    background: #333333;
   
}

.nav a {
    width: 100%;
    text-decoration: none;
    transition: all .2s;
    color: #fff;
}

/*.nav a:hover {
    transition: all .2s;
    background: #333333;
    color: #fff;
}*/

.mainw {
    width: 75%;
    background: #fff;
    box-shadow: 0 0 25px -8px #000;
    border-radius: 6px;
    float: right;
}

.tit h1 {
    padding: 30px 40px;
    background: #333333;
    color: #fff;
    letter-spacing: 3px;
}