* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    font-family: 'Roboto Slab', serif;
    padding: 25px 0;
    background: linear-gradient(to right, #00d2ff, #928DAB);
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    float: left;
}

.img-logo {
    width: 40px;
    margin: 0 5px;
    vertical-align: middle;
}

.logo span {
   color: #fff;
   font-size: 25px;

}

.sign-in-up {
    float: right;
    margin-top: 10px;
}

.sign-in-up span {
    color: #fff;
}

.sign-in-up a {
    color: #fff;
    padding: 5px;
    text-decoration: none;
}

.sign-in-up a:first-child {
  padding: 0px;
  margin-right: 10px;
}

.sign-in-up a:first-of-type:hover {
  border-bottom: 2px solid #fff;
}

.sign-in-up a:last-of-type {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.sign-in-up a:last-of-type:hover {
    transition: all .2s;
    background: #fff;
    color: #0c0c5c;
}

.bg-slider {
  font-family: 'Roboto Slab', serif;
  background-image: url('../imgs/SplitShire.jpg');
}

.title {
  max-width: 550px;
  padding: 70px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 26px;
  letter-spacing: 3px;
  color: #fff;
}

.hire-or-become {
  padding: 0 0 100px 0;
}

.hire-or-become a {
  padding: 20px 30px;
  margin-right: 10px;
  font-size: 23px;
  transition: all .3s;
  text-decoration: none;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 4px;
}

.hire-or-become a:first-of-type {
  background: #fff;
  color: #000;
}

.hire-or-become a:first-of-type:hover {
  box-shadow: inset 0 0 20px -7px #000;
}

.hire-or-become a:hover {
  transition: all .2s;
  background: #fff;
  color: #000;
}

.how-it-works {
  /*background: url("../imgs/design-tools.jpg")*/
  background: linear-gradient(to right, #00d2ff, #928DAB);
  padding-bottom: 73px; 
}

.hiw-title {
  font-family: 'Roboto Slab', serif;
  font-size: 23px;
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  border-radius: 0 0 8px 8px;
  color: #000;
}

.hiw-img img {
  float: left;
  width: 45%;
}

.hiw-text {
  float: right;
  width: 45%;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  margin: 50px 30px 0 0; 
}

/* Стили страницы авторизции */
.page-sign-in {
  background-image: url('../imgs/shattered-island.gif');
  /*background: linear-gradient(to right, #6441A5, #2a0845);*/
}

.title-sign-in {
  padding: 40px 0;
  text-align: center;
  color: #fff;
}

.title-sign-in h3 {
  font-size: 30px;
  font-family: 'Poiret One', cursive;
  letter-spacing: 2px;
}

.title-sign-in img {
  margin: 0 5px;
  width: 50px;
  vertical-align: middle;
}

.form, .link-sign-up {
  max-width: 400px;
  margin: 0 auto;
  height: auto;
  padding: 30px;
  background: #fff;
  border-radius: 3px;
}

.form input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px 0;
  font-size: 18px;
  border: .5px solid green;
  box-shadow: inset 0 0 1px 0px #000;
}

.form input[type="text"]:focus,
.form input[type="text"]:active,
.form input[type="password"]:focus,
.form input[type="password"]:active {
  outline: none;
  border-color: #0C0C5C;
}

.form input[type="submit"] {
  width: auto;
  padding: 5px 30px;
  margin-bottom: 0;
  border: 3px solid #0C0C5C;
  background: #fff;
}

.form input[type="submit"]:hover {
  transition: all .2s;
  background: #0C0C5C;
  color: #fff;
  cursor: pointer;
}

.margin {
  font-size: 15px;
  font-family: 'Roboto Slab', serif;
  margin: 30px 0;
}

.link-sign-up {
  text-align: center;
  padding: 20px;
}

.link-sign-up img {
  width: 25px;
}

.link-sign-up a {
  padding: 0 5px;
  text-decoration: none;
}
