doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Биржа
    // CSS
    link(rel='stylesheet', href='css/navbar.css')
    link(rel='stylesheet', href='css/styles.css')

    // JS
    script(src="js/toChangeName.js" defer)
  body.bg
    .sect-wrap.clearfix
      .wrapp.clearfix
        include sidebar
        .mainw.clearfix
          .tit
            h1 Предложить задачу
          .create-task
            form(method="POST")