doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Биржа
    // CSS
    link(rel='stylesheet', href='css/createTask.css')
    link(rel='stylesheet', href='css/navbar.css')
    link(rel='stylesheet', href='css/styles.css')

    // JS
    script(src="js/toChangeName.js" defer)
  body.bg
    header
      .wrapper.clearfix
        .logo
          span
            a(href='/') Freelance
        .sign-in-up
          .sign_absolute
            if username
              span.login #{username}
            else 
              a(href='sign_in') Войти
              span /
              a(href='sign_up') Зарегистрироваться
    .sect-wrap.clearfix
      .wrapp.clearfix
        include sidebar
        .mainw.clearfix
          .tit
            h1 Преджожить задачу
          .create-task-cont
            form(method="POST")
              input(type="text" placeholder="Заголовок" name="title" required)
              textarea(name="text", cols="30", rows="10" placeholder="Текст" required)
              input(type="text" name="price" placeholder="Цена" required)
              input(type="submit" value="Предложить")