doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Freelance - зарабатывать просто
    // CSS
    link(rel='stylesheet', href='css/styles.css')
    link(rel="stylesheet", href="css/freelancers.css")
  body.bg
    header
      .wrapper.clearfix
        .logo
          span
            a(href='/') Freelance
        .sign-in-up
          .sign_absolute
            if username
              span.login #{username}
            else 
              a(href='sign_in') Войти
              span /
              a(href='sign_up') Зарегистрироваться
    .sect-wrap.clearfix
      .wrapp.clearfix
        .mainw.clearfix
          .tit
            h1 Фрилансеры
          .freelancers
            .back-search
              .back
                a(href="/") Назад
              .search
                form(method="POST")
                  p: label(for="findTheFreelancer") Имя фрилансера
                  input(type="text" name="findTheFreelancer" required)
                  input(type="submit" value="Найти")
            if freelancers
              for freelancer in freelancers
                .freelancer
                  a(href=`#` class="task-head") #{freelancer.name}
                  p.task-text #{freelancer.id}
            else 
              h3 Пользователей нет