doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Freelance - зарабатывать просто
    // CSS
    link(rel='stylesheet', href='css/styles.css')
    link(rel="stylesheet", href="css/freelancers.css")

    script(src="js/findFreelancer.js" defer)
  body.bg
    include header
    .sect-wrap.clearfix
      .wrapp.clearfix
        .mainw.clearfix
          .tit
            h1 Фрилансеры
          .freelancers
            .back-search
              .search
                p: label(for="findTheFreelancer") Имя фрилансера
                input(type="text" name="findTheFreelancer" required)
                button(id="findFreelancer") Найти
            if freelancers
              for freelancer in freelancers
                .freelancer
                  a(href=`#` class="task-head") #{freelancer.name}
                  p.task-text #{freelancer.about}
            else 
              h3 Пользователей нет