doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Freelance - зарабатывать просто
    // CSS
    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheets', href='css/freelancers')
  body.bg
    .sect-wrap.clearfix
      .wrapp.clearfix
        .mainw.clearfix
          .tit
            h1 Фрилансеры
          .freelancers
            .back
              a(href="/") Назад
            if freelancers
              for freelancer in freelancers
                .freelancer
                  a(href=`#` class="task-head") #{freelancer.name}
                  p.task-text #{freelancer.id}
                  p.age #{freelancer.age}
            else 
              h3 Пользователей нет