doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Freelance - зарабатывать просто
    // CSS
    link(rel='stylesheet', href='css/styles.css')
    // JS
    script(src="js/menu.js" defer)
  body
    header
      .wrapper.clearfix
        .logo
          span
            a(href='/') Freelance
        .sign-in-up
          if username
            span.login #{username}
            .menu#nav-menu 
              span.title-nav
                img(src="icons/menu.svg", alt="menu")
              ul
                li: a(href="/userProfile") Мой профиль
                li: a(href="/market") Биржа
                li: a(href="") Мои диалоги
                li: a(href="") Мои заказы
          else 
            a(href='sign_in') Войти
            span /
            a(href='sign_up') Зарегистрироваться
    section.bg-slider
      .sect-wrap
        .wrapper.clearfix.img_png-sect
          .title
            h1 Вы можете нанять фрилансера или можете сами найти работу
          .hire-or-become
            if username
              a(href='#') Нанять фрилансера
              a(href='/market') Найти работу
            else
              a(href='#') Нанять фрилансера
              a(href='/sign_in') Найти работу
    section.how-it-works.sect-wrap
      .wrapper.clearfix
        .hiw-title
          h1 Как это работает
        .img-text-pos
          .hiw-img
            img(src='imgs/how_it_works.png', alt='HOW IT WORKS')
          .hiw-text
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit.
              | Temporibus reprehenderit sit aliquid velit tempore illum
              | fugit recusandae eos quas quidem?
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit.
              | Temporibus reprehenderit sit aliquid velit tempore illum
              | fugit recusandae eos quas quidem?
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit.
              | Temporibus reprehenderit sit aliquid velit tempore illum
              | fugit recusandae eos quas quidem?
          .hiw-text
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit.
              | Temporibus reprehenderit sit aliquid velit tempore illum
              | fugit recusandae eos quas quidem?
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit.
              | Temporibus reprehenderit sit aliquid velit tempore illum
              | fugit recusandae eos quas quidem?
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit.
              | Temporibus reprehenderit sit aliquid velit tempore illum
              | fugit recusandae eos quas quidem?
    section
        .show-all-freelancers 
          a(href="freelancers") Показать список фрилансеров
