doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Биржа
    // CSS
    link(rel='stylesheet', href='css/market.css')
    link(rel='stylesheet', href='css/navbar.css')
    link(rel='stylesheet', href='css/styles.css')
  body.bg
    .sect-wrap.clearfix
      .wrapp.clearfix
        include sidebar
        .mainw.clearfix
          .tit
            h1 Биржа
          .filter
            h2 Фильтр
            .categories
              select#filt(name='filter')
                option(value='Все категории') Все категории
                option(value='Вёрстка') Вёрстка
                option(value='front-end') Front-end
                option(value='back-end') Back-end
            .budget
              h3 Бюджет (руб.)
              form(action='')
                input(type='text', name='from')
                input(type='text', name='to')
                input(type='submit', value='Поиск')
          .market
            if tasks
              for task in tasks
                .task
                  a(href=`/market/${task.id}` class="task-head") #{task.title}
                  p.task-text #{task.text}
                  h4.price Цена: #{task.price} очка/ов
            else 
              h3 Задач нет
							
