doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Сообщения
    // CSS
    link(rel='stylesheet', href='css/messages.css')
    link(rel='stylesheet', href='css/navbar.css')
    link(rel='stylesheet', href='css/styles.css')
  body.bg
    include header
    .sect-wrap.clearfix
      .wrapp.clearfix
        include sidebar
        .mainw
          .tit
            h1 Сообщения
          .msgs
            if messages
              for message in messages
                section.messages
                  a(href=`/messages/${message.id}`)
                    .message
                      .name #{message.worker}
                      .text #{message.task_id}
                      .time 200000
            else 
              h3 Диалогов нет