doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Биржа
    // CSS
    link(rel='stylesheet', href='css/myTasks.css')
    link(rel='stylesheet', href='css/navbar.css')
    link(rel='stylesheet', href='css/styles.css')
  body.bg
    include header
    .sect-wrap.clearfix
      .wrapp.clearfix
        include sidebar
        .mainw.clearfix
          .tit
            h1 Мои задачи
          .my_tasks
            if tasks
              for task in tasks
                .task
                  .del
                    a(href=`/market/${task.id}` class="task-head") #{task.title}
                    span 
                      img(src="icons/close.svg", alt="close" id="delete")
                  p.task-text #{task.text}
                  .flex-container
                    p.price 
                      span.bg-price $#{task.price}
            else 
              h3 Задач нет
							
