aside.sidebar
  .nav
    ul
      li: a(href='/') Главная
      li: a(href='userProfile') Мой профиль       
      li: a(href='messages') Мои диалоги
      li: a(href='') Мои заказы  
      li: a(href='market') Биржа