aside.sidebar
  .nav
    ul
      li: a(href='/') Главная
      li: a(href='/userProfile') Мой профиль       
      li: a(href='/messages') Мои диалоги
      li: a(href='/myTasks') Мои задачи  
      li: a(href='/market') Биржа
      li(class="create-task")
        a(href='createTask') Предложить задачу