doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Freelance - зарабатывать просто
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Poiret+One', rel='stylesheet')
    // CSS
    link(rel='stylesheet', href='css/sign_in.css')
    // JS
    script(src="js/userOperations/checkPassword.js" defer)
  body.page-sign-in
    .title-sign-in
      span Региcтрация
    .form
      p
        label(for='username') Имя пользователя 
      input(type='text', name='username', class='username', autofocus='autofocus', required='')
      #err
      p.pass-err
        label(for='password') Пароль
      input(type='password', name='password', required='')
      p
        label(for='password') Повторите пароль
      input(type='password', name='passwordAgain', required='')
      button() Зарегистрироваться
  .margin
   
