doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Биржа

    base(href='/')
    link(rel='stylesheet', type='text/css', href='css/styles.css')
    link(rel='stylesheet', type='text/css', href='css/task.css')

  body.bg
    .container
      .wrapp.clearfix
        .mainw.clearfix
          .tit
            h1  Задача
          .task.clearfix
            .employer-name
              h4 Имя заказчика 
                span#empName  #{username}
            .task-header
              h2 #{title}
            p Текст
            .task-text
              span #{text}
            p Цена
            .task-price
              span #{price}
            .back
              form(method="POST")
              a(href="market") Назад
            .img_freelance