doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Биржа
    // CSS
    link(rel='stylesheet', href='css/userProfile.css')
    link(rel='stylesheet', href='css/navbar.css')
    link(rel='stylesheet', href='css/styles.css')

    // JS
    script(src="js/userOperations/changeName.js" defer)
  body.bg
    .sect-wrap.clearfix
      .wrapp.clearfix
        include sidebar
        .mainw.clearfix
          .tit
            h1 Профиль
          .user
            if username
              .avatar
                .background-avatar
                .load-from-file
                  p: label(for="avatar") Загрузить аватар
                  input(type="file" name="avatar" accept="image/*")
                  button Загрузить 
              .title-profile Ваше имя
              .user-data
                .name #{username}
                .hide-toChange
                  input(type="text" name="toChangeName" required='')
                  button(id="change") Изменить
                  button(id="cancel") Отменить
                div 
                  button(class="show-change") Изменить
              .message
            else 
              div Ничего нет :(
                