.dialog {
    background: #fff;
}

.cont-dialog {
    padding: 30px 50px;
    background: #f5f5f5;
    box-shadow: 0 0 20px -8px #000;
    
}

.cont-dialog header {
    text-align: center;
    background: #eee;
}

.cont-dialog section {
    height: 400px;
    padding: 30px 40px;
    background: #fff;
    margin: 20px 0;
    margin-bottom: 30px;
    overflow: auto;
}

.cont-dialog input[name="message"] {
    padding: 5px;
    font-size: 18px;
    border: 1px solid #eee;
    width: 85%;
    margin-top: 10px;
}

#sendAMessage {
    transition: all .2s;
    padding: 10px 20px;
    font-size: 16px;
    background: #4FC3F7;
    color: #fff;
    border: none;
}

#sendAMessage:hover {
    transition: all .2s;
    cursor: pointer;
    background: #333;
}

ul#dialog li {
    list-style: none;
    border-bottom: 1px solid #eee;
    padding: 10px 20px;
    font-size: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

ul#dialog .time {
    font-style: italic;
    color: #039BE5;
}

.dialog label[for="file"] {
    padding: 20px;
    color: #37474F;
}

.dialog input[type="file"] {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
}

.dialog input[type="file"]:hover, 
.dialog label[for="file"]:hover {
    cursor: pointer;
    transition: color .2s;
    color: #039BE5;
}

.mes_send {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.img_file {
    vertical-align: middle;
    width: 18px;
    margin-left: 10px;
}