.mainw {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}

.freelancers {
    background: #fff;
    padding: 40px;
}

.freelancer {
    background: #eee;
    padding: 20px;
    margin-bottom: 20px;
}

.back-search {
    display: flex;
    margin-bottom: 30px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
}


.search input[type="text"] {
    font-size: 19px;
    padding: 5px;
    margin-right: 20px;
    border: none;
    border-bottom: 1px solid #33eaff;
}

.back a, 
.search button {
    padding: 10px 30px;
    background: #33eaff; 
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #fff;
    transition: all .2s;
    text-decoration: none;
}

.back a:hover,
.search button:hover {
    transition: all .2s;
    background: #333;
    cursor: pointer;
}

.search input[type="text"]:focus,
.search input[type="text"]:active {
    outline: 0;
}

.task-head {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
}

.task-text {
    margin-left: 10px;
}