* {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.msgs {
    padding: 30px;
}

.messages {
    padding: 15px 0;
}

.message {
    transition: all .2s;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    padding: 15px;
}

.message:hover {
    transition: all .2s;
    background: #4fc3f7;
    cursor: pointer;
    color: #fff;
}

.message a {
    padding: 20px;
    text-decoration: none;
    color: #333;
    transition: all .2s;
}

