.my_tasks {
    padding: 30px 50px;
}

.task {
    padding: 20px;
    background: #f5f5f5;
    margin-bottom: 20px;
}

a.task-head {
    text-decoration: none;
    font-size: 18px;
}

p.task-text {
    margin: 10px 0;
    font-size: 15px;
}

span.bg-price {
    font-size: 17px;
    color: green;
}

.del {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.del img {
    width: 17px;
    vertical-align: middle;
}

.delete-task span {
    margin-right: 20px;
    font-size: 14px;
}

.sendTasksId {
    border: none;
    background: #f5f5f5;
}

.sendTasksId:hover {
    cursor: pointer;
}

.sendTasksId:active,
.sendTasksId:focus {
    outline: none;
}