* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-sign-in {
    /*background-image: url('../imgs/shattered-island.gif');*/
    background: #33eaff;
  }
  
.title-sign-in {
  margin-bottom: 80px;
  text-align: center;
  color: #33eaff;
  background: #333;
  padding: 25px 0;
}
  
.title-sign-in span {
  font-size: 30px;
  font-weight: 600;
  font-family: 'Poiret One', cursive;
  letter-spacing: 2px;
}
  
  .title-sign-in img {
    margin: 0 5px;
    width: 50px;
    vertical-align: middle;
  }
  
  .form, .link-sign-up {
    font-family: 'Roboto Slab', serif;
    max-width: 400px;
    margin: 0 auto;
    height: auto;
    padding: 30px;
    background: #fff;
  }
  
  .form label {
      font-size: 15px;
  }

  .form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    font-size: 18px;
    border: none;
    background: #fff;
    border-bottom: 1px solid #333;
  }
  
  .form input[type="text"]:focus,
  .form input[type="text"]:active,
  .form input[type="password"]:focus,
  .form input[type="password"]:active {
    outline: none;
  }
  
  .form input[type="submit"] {
    width: auto;
    padding: 5px 40px;
    margin-bottom: 0;
    box-shadow: none;
    border: 3px solid #00bcd4;
    background: #fff;
    color: #333;
  }
  
  .form input[type="submit"]:hover {
    transition: all .2s;
    background: #00bcd4;
    color: #fff;
    cursor: pointer;
  }
  
  .margin {
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
    margin: 30px 0;
  }
  
  .link-sign-up {
    text-align: center;
    padding: 20px;
  }
  
  .link-sign-up img {
    width: 25px;
  }
  
  .link-sign-up a {
    padding: 0 5px;
    text-decoration: none;
  }
  