/* Google Fonst */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
   /* background: linear-gradient(to right, #00d2ff, #928DAB);*/
   background: linear-gradient(to right, #7474BF, #348AC7);

}

.sect-wrap {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
}

.wrapp {
  padding: 30px;
  margin: 10px 0;
  border-radius: 5px;
}

header {
    font-family: 'Roboto Slab', serif;
    padding: 25px 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    float: left;
}

.img-logo {
    width: 40px;
    margin: 0 10px 0 0;
    vertical-align: middle;
    animation-duration: .9s;
    animation-name: slideDown;
}

@keyframes slideDown {
  from {
    transition: all .9s;
    transform: translate(0, -70px);
  }

  to {
    transform: all .9s;
    transform: translate(0, 0);
  }
}

.logo span {
  padding: 10px 20px;
  font-size: 25px;
}

.logo a {
  transition: all .2s;
  color: #fff;
  text-decoration: none;
}

.logo a:hover {
  transition: all .2s;
  color: #000;
}

.sign-in-up {
    float: right;
    margin-top: 10px;
}

.sign-in-up span {
    color: #fff;
}

.sign-in-up a {
    color: #fff;
    padding: 5px;
    text-decoration: none;
}

.sign-in-up a:first-child {
  padding: 0px;
  margin-right: 10px;
  transition: all .2s;
  color: #fff;
}

.sign-in-up a:first-of-type:hover {
  transition: all .2s;
  color: #000;
}

.sign-in-up a:last-of-type {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.sign-in-up a:last-of-type:hover {
    transition: all .2s;
    background: #fff;
    color: #0c0c5c;
}

.bg-slider {
  font-family: 'Roboto Slab', serif;
  background-image: url('../imgs/SplitShire.jpg');
}

.title {
  max-width: 550px;
  padding: 70px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 26px;
  letter-spacing: 3px;
  color: #fff;
}

.hire-or-become {
  padding: 0 0 100px 0;
}

.hire-or-become a {
  padding: 20px 30px;
  margin-right: 10px;
  font-size: 23px;
  transition: all .3s;
  text-decoration: none;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 4px;
}

.hire-or-become a:first-of-type {
  background: #fff;
  color: #000;
}

.hire-or-become a:first-of-type:hover {
  box-shadow: inset 0 0 20px -7px #000;
}

.hire-or-become a:hover {
  transition: all .2s;
  background: #fff;
  color: #000;
}

.how-it-works {
  /*background: url("../imgs/design-tools.jpg")*/
  padding-bottom: 73px; 
}

.hiw-title {
  font-family: 'Roboto Slab', serif;
  font-size: 23px;
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  border-radius: 0 0 8px 8px;
  color: #000;
}

.hiw-img img {
  float: left;
  width: 45%;
}

.hiw-text {
  float: right;
  width: 45%;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  margin: 50px 30px 0 0; 
}
