/* Google Fonst */
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Margarine');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #fff;
}

body.bg {
  background: #F5F5F5;
}

.sect-wrap {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

.wrapp {
  padding: 30px;
  margin: 10px 0;
  border-radius: 5px;
}

header {
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Comfortaa', cursive;*/
  padding: 20px 0;
  background: #333;
}

header.bg_head {
  background: #33eaff;
}

header.bg_head .logo a {
  color: #000;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    
}

.img_png-sect {
  background: url('../imgs/freelance_img.png') 650px -20px no-repeat;
  background-size: 450px;
}

.logo {
    float: left;
}

.img-logo {
    width: 40px;
    animation-duration: .9s;
    animation-name: slideDown;
}

@keyframes slideDown {
  from {
    transition: all .9s;
    transform: translate(0, -70px);
  }

  to {
    transform: all .9s;
    transform: translate(0, 0);
  }
}

.logo a {
  font-size: 25px;
  font-style: italic;
  font-family: 'Margarine', cursive;
  text-decoration: none;
  color: #fff;
}

.menu { float: right; }

.menu img {
  width: 20px;
  vertical-align: middle;
  transition: all .2s;
  transform: scale(1);

}

.menu img:hover {
  cursor: pointer;
}

.menu ul {
  right: 90px;
  position: relative;
  margin-top: 28px;
  list-style: none;
  background: #333;
  padding: 10px;
  display: none;
}

.menu #exit,
.menu a {
  transition: all .2s;
  border: none;
  background: #333;
  color: #fff;
  font-size: 17px;
  margin-left: 10px;
}

.menu a:hover,
.menu #exit:hover {
  color: #eee;
  transition: all .2s;
  cursor: pointer;
}

.open ul {
  display: block;
}

.sign-in-up {
  float: right;
  margin-top: 4px;
  margin-left: 1000px;
  position: absolute;
}

.sign-in-up .login {
  font-size: 17px;
  margin-right: 15px;
}

.sign-in-up span {
    color: #fff;
}

.sign-in-up a {
    color: #fff;
    text-decoration: none;
}

.sign-in-up a:first-child {
  padding: 0px;
  margin-right: 10px;
  transition: all .2s;
  color: #fff;
}

.sign-in-up a:first-of-type:hover {
  transition: all .2s;
  color: #eee;
}

.sign-in-up a:last-of-type {
    margin-left: 10px;
    text-decoration: #333;
    transition: all .2s;
}

.sign-in-up a[href='sign_up']:last-of-type:hover {
    transition: all .2s;
    color: #fff;
}

.bg-slider {
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Comfortaa', cursive;*/
  /*background-image: url('../imgs/SplitShire.jpg'); */
  background: #33eaff;
}

.title {
  max-width: 550px;
  padding: 70px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 26px;
  letter-spacing: 3px;
  color: #fff;
}

.hire-or-become {
  padding: 0 0 100px 0;
}

.hire-or-become a {
  padding: 20px 30px;
  margin-right: 10px;
  font-size: 23px;
  transition: all .3s;
  text-decoration: none;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 4px;
}

.hire-or-become a:first-of-type {
  background: #fff;
  color: #000;
}

.hire-or-become a:hover {
  transition: all .2s;
  background: #fff;
  color: #000;
}

.how-it-works {
  /*background: url("../imgs/design-tools.jpg")*/
  padding-bottom: 73px; 
}

.hiw-title {
  /*font-family: 'Roboto Slab', serif;*/
  font-size: 23px;
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
  background: #eee;
  border-radius: 0 0 8px 8px;
  color: #333;
}

.hiw-img img {
  float: left;
  width: 45%;
}

.hiw-text {
  float: right;
  width: 45%;
  background: #eee;
  border-radius: 5px;
  padding: 20px;
  margin: 50px 30px 0 0; 
  color: #333;
}

.show-all-freelancers {
  padding: 130px 0;
  text-align: center;
  background: #33eaff;
}

.show-all-freelancers a {
  text-decoration: none;
  font-size: 23px;
  color: #fff;
  background: #2196f3;
  border-radius: 30px;
  padding: 15px 25px;
}

.tit h1 {
  padding: 30px 40px;
  background: #333;
  color: #fff;
  letter-spacing: 3px;
}

footer.describe {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  background: #2f3542;
  font-family: 'Source Sans Pro', sans-serif;
}

footer.describe h3 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: .5px;
  margin-bottom: 15px;
  color: #fff;
}

footer.describe p {
  color: #2196f3;
  margin-left: 15px;
  font-size: 15px;
  letter-spacing: 1px;
}

footer.describe a {
  color: #2196f3;
  text-decoration: none;
}