.container {
    width: 65%;
    max-width: 1000px;
    margin: 0 auto;
}

.img_freelance {
    background: url('../imgs/freelance_img.png') no-repeat;
    background-position: left bottom;
    background-size: 50px;
}

.task {
    background: #fff;
    padding: 40px;
}

.task p {
    margin: 0 0 5px 8px;
}

.back {
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

.back input {
    margin-right: 10px;
}

.back a,
.back input {
    padding: 10px 30px;
    background: #33eaff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    transition: all .2s;
    text-decoration: none;
}

.back a:hover,
.back input:hover {
    transition: all .2s;
    background: #333;
    cursor: pointer;
}

.task-header,
.task-text,
.task-price {
    padding: 20px;
    background: #eee;
    margin-bottom: 20px;
}

.task-header {
    padding: 0 0 10px 20px;
    background: #fff;
}

.employer-name {
    text-align: right;
    padding: 0px 0;
}

.employer-name h4 {
    color: #B2DFDB;
}

.employer-name span {
    font-size: 17px;
    color: #333;
}

.back button[name="toRespond"] {
    transition: background .2s;
    padding: 10px 30px;
    background: #33eaff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    margin-right: 10px;
}

.back button[name="toRespond"]:hover {
    transition: all .2s;
    cursor: pointer;
    background: #333;
}

.back #result {
    margin-right: 20px;
    color: green;
}
